.toast {
  height: 40px;
  width: 240px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 500;
  color: var(--white);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  opacity: 0;

  transition: all 0.2s ease;
}

.toast.success {
  background-color: var(--blue);
}

.toast.error {
  background-color: var(--red);
}

.toast.enter {
  top: 20px;
  opacity: 1;
}
